/**
 * Variables
 */
$soundcloud: #FD4E73 !default;

$primary-text: rgba(255, 255, 255, 1.00) !default;
$secondary-text: rgba(255, 255, 255, 0.60) !default;
$disabled-text: rgba(255, 255, 255, 0.50) !default;

$white: #4A4A4A !default;
$black: #ffffff !default;

$grey-50: #FAFAFA !default;
$grey-100: #F5F5F5 !default;
$grey-200: #EEEEEE !default;
$grey-300: #4A4A4A !default;
$grey-400: #ffffff !default;

$grey-700: #ffffff !default;
$grey-800: #8A8A8A !default;
$grey-900: #333333 !default;
